<div id="good">
<header>
    <a href="#home"><span class="back"></span></a>
    <span class="title"><input type="text" value="请输入商品名称"/></span>
    <span class="search">搜&nbsp;索</span></header>
<div class="main">
    <div class="goodList">
        <div class="image"><img src="images/good1.png"/></div>
        <div class="text">
            <p class="title">稻香村精致五仁月饼</p>
            <p class="mark"><span>精选</span></p>
            <p class="size">100g/块</p>
            <p class="price"><span class="current_price">¥<span>12</span></span><span class="before_price">¥<span>13.8</span></span></p>
            <p class="goodstate">补货中</p>
        </div>
    </div>
    <div class="goodList">
        <div class="image"><img src="images/good2.png"/></div>
        <div class="text">
            <p class="title">稻香村蛋黄莲蓉月饼</p>
            <p class="mark"><span>精选</span></p>
            <p class="size">100g/块</p>
            <p class="price"><span class="current_price">¥<span>12</span></span><span class="before_price">¥<span>13.8</span></span></p>
            <p class="goodstate">补货中</p>
        </div>
    </div>
    <div class="goodList">
        <div class="image"><img src="images/good2.png"/></div>
        <div class="text">
            <p class="title">稻香村金丝枣蓉月饼</p>
            <p class="mark"><span>精选</span></p>
            <p class="size">100g/块</p>
            <p class="price"><span class="current_price">¥<span>8</span></span><span class="before_price">¥<span>9.9</span></span></p>
            <p class="goodstate">补货中</p>
        </div>
    </div>
    <div class="nogood">
        无更多商品
    </div>
    <div class="cartBtn"></div>
</div>
</div>