<div id="sale">
<header>
    <a href="#home"><span class="back"></span></a>
    <span class="title">疯狂秒杀</span>
    <span class="refresh"></span></header>
<div class="main">
    <div class="banner">
        <img src="images/banner.jpg"/>
    </div>
    <div class="timeBar">
        <ul>
            <li>
                <p>10:00</p>
                <p>已结束</p>
                <p></p>
            </li>
            <li class="click">
                <p>12:00</p>
                <p>正在抢购</p>
                <p class="pclick"></p>
            </li>
            <li>
                <p>15:00</p>
                <p>即将开始</p>
                <p></p>
            </li>
            <li>
                <p>19:00</p>
                <p>即将开始</p>
                <p></p>
            </li>
        </ul>
    </div>
    <div class="timer">
        <div class="clock">
            <p>距本场结束</p>
            <p>02:01:12</p>
        </div>
        <div class="right"></div>
        <div class="rule">
            查看活动规则
        </div>
    </div>
    <div class="salegood">
        <ul>
            <li>
                <div class="image"><img src="images/salegood1.png"/></div>
                <div class="text">
                    <div class="title">统一香辣味老坛酸菜</div>
                    <div class="size">120g/桶*2</div>
                    <div class="price">
                        <span class="current_price">¥<span>4.9</span></span>
                        <span class="before_price">/&nbsp;原价:<span>10</span>元</span>
                    </div>
                    <div class="goodstate">已抢光</div>
                </div>
            </li>
            <li>
                <div class="image"><img src="images/salegood2.png"/></div>
                <div class="text">
                    <div class="title">金锣肉粒多猪肉香肠</div>
                    <div class="size">320g/袋</div>
                    <div class="price">
                        <span class="current_price">¥<span>6.9</span></span>
                        <span class="before_price">/&nbsp;原价:<span>13.5</span>元</span>
                    </div>
                    <div class="goodstate sale">6.9元抢购</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="hotsale">
        <p class="toptitle"><span>热卖</span></p>
        <div class="hotsalelist">
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood3.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">爱鲜蜂·赣南蜜桔</div>-->
                    <!--<div class="size">800-900g/袋</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>6.8</span></span>-->
                        <!--<span class="before_price">¥<span>8.5</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood4.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">爱鲜蜂·凯特芒果</div>-->
                    <!--<div class="size">450-600g/盒</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>14.6</span></span>-->
                        <!--<span class="before_price">¥<span>21</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood5.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">蜂觅·越南直采红心</div>-->
                    <!--<div class="size">320-420g/粒</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>14.9</span></span>-->
                        <!--<span class="before_price">¥<span>35</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood6.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">爱鲜蜂·翠香猕猴桃</div>-->
                    <!--<div class="size">180-210g2粒/盒</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>15.9</span></span>-->
                        <!--<span class="before_price"><span></span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood7.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">福成原味酸牛奶</div>-->
                    <!--<div class="size">240g</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>8.9</span></span>-->
                        <!--<span class="before_price">¥<span>12.9</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood8.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">骑士1992酸牛奶</div>-->
                    <!--<div class="size">180g</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>6.8</span></span>-->
                        <!--<span class="before_price">¥<span>9.9</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood9.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">三元轻能黄桃+大···</div>-->
                    <!--<div class="size">250g/盒*2</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>9.9</span></span>-->
                        <!--<span class="before_price">¥<span>15</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood10.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">飘香鸭锁骨(微辣)</div>-->
                    <!--<div class="size">220g</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>16</span></span>-->
                        <!--<span class="before_price">¥<span>20</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood11.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">哈肉联啤酒火腿</div>-->
                    <!--<div class="size">350g</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>16.8</span></span>-->
                        <!--<span class="before_price">¥<span>18</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood12.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">红牛维生素功能饮料</div>-->
                    <!--<div class="size">250g</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>6</span></span>-->
                        <!--<span class="before_price">¥<span>6.5</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood13.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">[可口可乐]汽水</div>-->
                    <!--<div class="size">330ml</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>2.5</span></span>-->
                        <!--<span class="before_price">¥<span>3</span></span>-->
                    <!--</div>-->
                    <!--<div class="add"><span></span></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="goodlist">-->
                <!--<div class="image"><img src="images/salegood14.png"/></div>-->
                <!--<div class="text">-->
                    <!--<div class="title">燕京啤酒</div>-->
                    <!--<div class="size">330ml</div>-->
                    <!--<div class="price">-->
                        <!--<span class="current_price">¥<span>2.8</span></span>-->
                        <!--<span class="before_price">¥<span>4</span></span>-->
                    <!--</div>-->
                    <!--<div class="replenish"><span>补货中</span></div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="activeRule">
        <p class="toptitle"><span>活动规则</span>
        </p>
        <div class="rulesitem">
            <p>1.本次活动购买的实物商品，请先选择送货地址，再进行购买；</p>
            <p>2.活动时间:每日10点、12点、15点、19点；</p>
            <p>3.活动单品每个商品每人每天抢购一次（限配送区域内用户参加）；</p>
            <p>4.商品数量有限，售完为止。需及时在线支付，请以订单支付成功时间为准</p>
            <p>5.此活动可以和其他商品同时购买，订单金额满300元（含）以上可送</p>
            <p>6.若发现用户恶意刷单，爱鲜蜂有权拒绝发货。</p>
        </div>
    </div>
    <div class="cartBtn"></div>
</div>
</div>