<div id="myorder">
<header>
    <a href="#mine"><span class="back"></span></a>
    <span class="title">我的订单</span>
        <span class="refresh"></span>
</header>
<div class="main">
    <ul class="ordertype">
        <li><span  class="click">全部订单</span></li>
        <li><span>待付款</span></li>
        <li><span>待收货</span></li>
        <li><span>待评价</span></li>
        <li><span>退款/售后</span></li>
    </ul>
    <div class="content">
        <div class="noorder">
            还没有订单哦
        </div>
    </div>
</div>
</div>