<div id="mine">
<header>
    <div class="user">
        <div class="image"></div>
        <div class="user_info">
            <p class="user_phone">15010970141</p>
            <p class="user_level">注册会员</p>
        </div>
    </div>
    <div class="favorite">
        <div><span>商品收藏</span></div>
        <div><span>店铺收藏</span></div>
    </div>

</header>
<div class="main">
    <div class="mine_content">
        <div class="mine_order">
            <a href="#myOrder"><div class="allOrder">我的订单<span>查看全部订单</span></div></a>
        </div>
        <ul class="order_type">
            <li>待付款</li>
            <li>待收货</li>
            <li>待评价</li>
            <li>退款/售后</li>
        </ul>
    </div>
    <div class="block">
        <ul>
            <a href="#integral"><li class="integral">积分商城</li></a>
            <li>优惠券</li>
            <li>收货地址</li>
            <li>客服/反馈</li>
            <li>关于我们</li>
        </ul>

    </div>
    <div class="exit">退出当前账号</div>
</div>
</div>
