<div id="cart">
<div class="title">
    购物车
</div>
<div id="box">
    <div class="location">
        <p>鲜峰侠需要你的精确坐标</p>
    </div>
    <div class="main">
        <div class="notice">
            <h3><span></span>闪送超市</h3>
            <p>￥0起送，22:00前满￥30减免运费，22:00后满￥69减免邮费</p>
        </div>
        <!--收货时间-->
        <div class="receive_time">
            <div>收货时间</div>
            <div class="orange_red">一小时送达</div>
            <div>可预订></div>
        </div>
        <!--收货备注-->
        <div class="receive_remind">
            <div>收货备注</div>
            <div><input type="text" placeholder="可输入100字以内特殊内容"></div>
        </div>
        <!--商品列表-->
        <div class="things">
            <div class="things_list">
                <div class="tick"><img src="images/26.png" alt=""></div>
                <div class="thing_img"><img src="images/3_03.png" alt=""></div>
                <div class="things_text">
                    <p>维他柠檬茶饮料</p>
                    <p>￥2.9</p>
                </div>
                <div class="changeNum">
                    <img src="images/3_06.png" alt="">
                    <p class="add"><span></span>1<span></span></p>
                    <img src="images/3_08.png" alt="">
                </div>
            </div>
        </div>
        <!--全选-->
        <div class="total">
            <div class="tick"><img src="images/26.png" alt=""></div>
            <div>全选</div>
            <div class="selectAll">共：<span class="orange_red">￥2.9</span></div>
            <div class="trueAll">选好了</div>
        </div>




    </div>
</div>
</div>