<div id="home">
<div class="address">
    <div class="address1"><a href="#twoCode"><img src="images/7_02.png"></a></div>
    <div class="address2"><div>济源路附近</div>
        <div><img src="images/7_06.png" alt=""></div></div>
    <div class="address3"><a href="#search"><img src="images/7_04.png"></a></div>
</div>
<div id="box">
    <!--轮播图-->
    <div class="top"></div>

            <script id="t:_1234-abcd-1" type="text/html">
                <div class="banner">
                    <div class="swiper-container slider">
                <%if(data.slide.length>0){%>
                <div class="swiper-wrapper">
                <%for(var i=0;i<data.slide.length;i++){%>
                <div class="swiper-slide">
                <img src=<%=data.slide[i].activity.img%> alt="">
                </div>
                <%}%>

                </div>
                <div class="swiper-pagination"></div>
                <%}else{%>
                <p>暂时无数据！！</p>
                <%}%>
                    </div>
                    </div>
                <%if(data.menu.length>0){%>
                <div class="ad">
                    <%for(var i=0;i<data.menu.length;i++){%>
                    <div class="sale"><a href="#crazySale"><img src=<%=data.menu[i].activity.img%> alt=""><h3><%=data.menu[i].activity.name%></h3></a></div>
                    <%}%>
                </div>
                <%}else{%>
                <p>暂时无数据！！</p>
                <%}%>

            </script>
    <!--鲜峰头条-->
    <div class="topAd">
        <div class="topAd1"><img src="images/18.jpg" alt=""></div>
        <div class="topAd2"><span>防霾</span>3M防雾霾口罩22.8元/3只 1小时送达</div>
    </div>
    <div class="foodAd">
        <div><img src="images/13.jpg" alt=""></div>
        <div><img src="images/14.jpg" alt=""></div>
        <div><img src="images/17.jpg" alt=""></div>
    </div>
    <!--特价优惠-->
    <div class="promotion">
        <div class="promotion_top">
            <div><img src="images/16.jpg" alt=""></div>
            <div><img src="images/11.jpg" alt=""></div>
            <div><img src="images/15.jpg" alt=""></div>
            <div><img src="images/12.jpg" alt=""></div>

        </div>
    </div>
    <!--优选水果-->
    <div class="list">
        <div class="banner">
            <h3><span></span>优选水果</h3>
            <h4>更多 ></h4>
        </div>
        <div class="list_img">
            <img src="images/22.jpg">
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/1_03.jpg" alt="">
            </div>
            <div class="content_text">
                <p>峰觅·15度蜜梨</p>
                <p class="choiceness">精选</p>
                <p class="donate">买一增一</p>
                <p class="amount">400-500/盒</p>
                <p class="price">￥14.6<span>￥16</span><img src="images/1_13.png" alt=""></p>
            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/1_05.png" alt="">
            </div>
            <div>
                <p>爱鲜蜂·百香果</p>
                <p class="choiceness">精选</p>
                <p class="donate">买一增一</p>
                <p class="amount">120g 2粒/袋</p>
                <p class="price">￥10.9<span>￥16</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/1_07.png" alt="">
            </div>
            <div>
                <p>爱鲜蜂·怀来..</p>
                <p class="choiceness">精选</p>

                <p class="amount">400-500/盒</p>
                <p class="price">￥10.8<span>￥18</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>

    </div>
    <!--牛奶面包-->
    <div class="list">
        <div class="banner">
            <h3 class="blue"><span></span>牛奶面包</h3>
            <h4>更多 ></h4>
        </div>
        <div class="list_img">
            <img src="images/24.jpg">
        </div>

        <div class="content">
            <div class="content_img">
                <img src="images/27.jpg" alt="">
            </div>
            <div class="content_text">
                <p>雪原白瓷瓶风</p>
                <p class="choiceness">精选</p>
                <p class="donate">买一增一</p>
                <p class="amount">200g</p>
                <p class="price">￥10.9<span>￥12</span><img src="images/1_13.png" alt=""></p>


            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/26.jpg" alt="">
            </div>
            <div>
                <p>音乐提有机酸奶</p>
                <p class="choiceness">精选</p>
                <p class="donate">买一增一</p>
                <p class="amount">120g 2粒/袋</p>
                <p class="price">￥10.9<span>￥16</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/25.jpg" alt="">
            </div>
            <div>
                <p>爱鲜蜂·怀来..</p>
                <p class="choiceness">精选</p>
                <p class="donate">买一增一</p>
                <p class="amount">400-500/盒</p>
                <p class="price">￥10.8<span>￥18</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>

    </div>
    <!--卤味熟食-->
    <div class="list">
        <div class="banner">
            <h3 class="brown"><span></span>卤味熟食</h3>
            <h4>更多 ></h4>
        </div>
        <div class="list_img">
            <img src="images/31.jpg">
        </div>

        <div class="content">
            <div class="content_img">
                <img src="images/30.jpg" alt="">
            </div>
            <div class="content_text">
                <p>飘香鸭锁骨</p>
                <p class="choiceness">精选</p>

                <p class="amount">200g</p>
                <p class="price">￥10.9<span>￥12</span><img src="images/1_13.png" alt=""></p>


            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/29.jpg" alt="">
            </div>
            <div>
                <p>音乐提有机酸奶</p>
                <p class="choiceness">精选</p>

                <p class="amount">120g 2粒/袋</p>
                <p class="price">￥10.9<span>￥16</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>
        <div class="content">
            <div class="content_img">
                <img src="images/28.jpg" alt="">
            </div>
            <div>
                <p>爱鲜蜂·怀来..</p>
                <p class="choiceness">精选</p>

                <p class="amount">400-500/盒</p>
                <p class="price">￥10.8<span>￥18</span><img src="images/1_13.png" alt=""></p>

            </div>
        </div>

    </div>
    <!--鲜峰热卖-->
    <div class="hot_sale">
        <div class="title"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            鲜峰热卖
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="hot_sale_content"></div>
        <script id="t:_1234-abcd-2" type="text/html">
        <%if(data.length>0){%>
        <%for(var i=0;i<data.length;i++){%>
        <div class="hot_sale_things">
        <div class="hot_sale_img">
        <img src=<%=data[i].img%> alt="">
        </div>
        <div class="hot_sale_text">
        <p><%=data[i].name%></p>
        <p><span  class="choiceness">精选</span><span  class="donate"><%=data[i].pm_desc%></span></p>
        <p class="amount"><%=data[i].specifics%></p>
        <p class="price">￥<%=data[i].price%><span>￥<%=data[i].market_price%></span></p>
        <img src="images/1_13.png" alt="">
        </div>
        </div>
        <%}%>
        <%}else{%>
        <p>暂时无数据！！</p>
        <%}%>
        </script>
    </div>

    <!--底部查看更多-->
    <div class="bottom">
        <a href="##">点击查看全部商品 ></a>
    </div>

</div>
</div>