<div id="integral">
<header> <a href="#mine"><span class="back"></span></a>
    <span class="title">积分商城</span>
    <span class="refresh"></span>
</header>
<div id="box">
    <!--可用积分-->
    <div class="useIntegral">
        <div class="useIntegral_top">
            <div class="bigCircle">
                <div class="smallCircle">
                    <h3>可用积分</h3>
                    <p class="orange_red">1</p>
                </div>
            </div>
        </div>
        <div class="useIntegral_bottom">
            <div class="useIntegral_logo">
                <img src="images/32.png" alt="">
                <p>积分明细</p>
            </div>
            <div class="useIntegral_logo">
                <img src="images/33.png" alt="">
                <p>兑换记录</p>
            </div>
            <div class="useIntegral_logo">
                <img src="images/34.png" alt="">
                <p>积分规则</p>
            </div>
        </div>
    </div>
    <!--优惠券-->
    <div class="coupon">
        <div class="coupon_item">
            <img src="images/37.jpg" alt="">
            <p>3元积分兑换券</p>
            <p class="orange_red">300积分</p>
        </div>
        <div class="coupon_item">
            <img src="images/38.jpg" alt="">
            <p>5元积分兑换券</p>
            <p class="orange_red">500积分</p>
        </div>
        <div class="coupon_item">
            <img src="images/39.jpg" alt="">
            <p>8元积分兑换券</p>
            <p class="orange_red">800积分</p>
        </div>
        <div class="coupon_item">
            <img src="images/40.jpg" alt="">
            <p>10元积分兑换券</p>
            <p class="orange_red">1000积分</p>
        </div>
    </div>









</div>
</div>